---
title: AVIS News
---

{% include head.html %}

<body>
  
  {% include nav.html %}

  <div id="news">
    <input type="checkbox" id="sidebar-toggler">
    <label for="sidebar-toggler" class="toggle">☰</label>
    
    <div class="page-content">
      <div>
        <h2>Older News</h2>
        <h3>Notice: Deer Hunting on AVIS Lands</h3>
        <p>Deer hunting to be allowed on <a href="/rafton.html" target="_blank">Harold Rafton Reservation</a> ONLY during the 2012 bow hunting season. See <a href="/deer_hunting.html" target="_blank">here</a> for details.</p>
        <hr>
        
        <h3>April 27th - Shawsheen River Greenway Dedication Ceremony</h3>
        <div id="greenway">
          <a href="/assets/img/greenway1.jpg"><img src="/assets/img/greenway1.jpg"></a>
          <a href="/assets/img/greenway2.jpg"><img src="/assets/img/greenway2.jpg"></a>
          <a href="/assets/img/greenway3.jpg"><img src="/assets/img/greenway3.jpg"></a>
          <a href="/assets/img/greenway4.jpg"><img src="/assets/img/greenway4.jpg"></a>
        </div>
        <p>Please join us on April 27th for the dedication of the first section of the Andover Greenway. Over the past two years volunteers have been working long hours and using heavy labor to improve both the Vale Reservation and the Shawsheen River Reservation. Four major groups contributed over 1000 hours and have accomplished great things in order to make this section of the river truly a site to behold. </p>
        <p>A group of Boy Scouts led by Adam Jones completed a boardwalk in the Vale reservation; a group of adult volunteers led by Dave Doub and David Bunting constructed a truss bridge across a part of the river in the Vale Reservation; and two Boy Scout troops led by Jonathan Yeh and James Aaronson cleared a path and built a boardwalk linking the Vale Reservation with the Shawsheen River Reservation. As a result of this volunteer effort, a continuous path stretches 1.4 miles from the Ballardvale train station to Central Street. </p>
        <p>The larger vision of planners is to have a Greenway run the entire length of the Shawsheen River in Andover.</p>
        <p>We plan to dedicate this first section of the Greenway, at 2:00 pm on Saturday, April 27, 2013. Rain date will be Sunday, April 28th. A short hike will leave the parking lot at 1:00 to explore the southern end of the Greenway. Those interested in a longer hike should meet at 12:30 pm at the intersection of Central Street and Abbot Bridge Drive to take the approximately 1.4 mile hike through the Shawsheen River Reservation and the Vale Reservation. Both hikes return to the north end of the commuter parking lot where the dedication ceremony begins at 2:00 pm.</p>
        <hr>
        
        <h3>Walter Kittredge's walk/talk on invasive species (by Mike Timko)</h3>
        <img src="/assets/img/Kittredge_Taft.jpeg">
        <p>Walter led a walk and talk on Saturday, October 13. There were 21 attendees, about as many as could be easily accommodated for parking and managing on the trail. As usual, Walter's enthusiasm and love for the woods was evident and you could see the pent up frustration with the implications of the presence of the invasive species he was discussing. He really loves the fact that we try to do something about it.</p>
        <p>Trustees got right into the spirit of the discussion and began thinking about what to do with all of this information. There was quite a bit of interest in the crowd and I think an invasives workday at that site might be productive.</p>
        <p>One of the things that Walter said could help control invasive species, was a controlled burn the understory. There are a number of plants native to that area of Taft Reservation which require occasional fires in order to reproduce. A controlled burn would help reduce the invasive species and allow the native vegitation to regenerate. For instance, pitch pine requires fire for the seeds in the dropped cones to germinate. There are no new pitch pines present at all.</p>
        <p>We should explore the possibility of a controlled burn on some of our reservations. We would obviously need permission from the town and the cooperation of the fire department. Walter would provide a contact who studies controlled burning as a means of forest management.</p>
        <hr>
        
        <h3>Lawrence Eagle Tribune Article</h3>
        <p><a href="http://www.eagletribune.com/news/al-french-happy-as-a-clam-over-leadership-change/article_a7666a2e-b4a9-5b3a-91a4-b580df78c4e9.html" target="_blank">Al French 'happy as a clam' over leadership change</a> by Bill Kirk, September 3, 2012</p>
        
        {% include footer.html %}
      </div>
    </div>

    <div class="sidebar">
      <div class="container-fluid">
        <h4>Past Editions of the AVIS Newsletter</h4>
        <hr>
        <div class="row">
          <div class="col-lg-6">
            <a href="/assets/docs/Fall-2012-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-fall2012.jpg">
              Fall 2012<br>
              Volume 119, Issue 2
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/assets/docs/Spring-2012-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-spring2012.jpg">
              Spring 2012<br>
              Volume 119, Issue 1
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/assets/docs/Fall-2011-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-fall2011.jpg">
              Fall 2011<br>
              Volume 118, Issue 2
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/assets/docs/Spring-2011-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-spring2011.jpg">
              Spring 2011<br>
              Volume 118, Issue 1
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/assets/docs/Fall-2010-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-fall2010.jpg">
              Fall 2010<br>
              Volume 117, Issue 2
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/assets/docs/Spring-2010-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-spring2010.jpg">
              Spring 2010<br>
              Volume 117, Issue 1
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/assets/docs/Fall-2009-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-fall2009.jpg">
              Fall 2009<br>
              Volume 116, Issue 2
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/assets/docs/Spring-2009-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-spring2009.jpg">
              Spring 2009<br>
              Volume 116, Issue 1
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/assets/docs/Fall-2008-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-fall2008.jpg">
              Fall 2008<br>
              Volume 115, Issue 2
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/assets/docs/Spring-2008-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-spring2008.jpg">
              Spring 2008<br>
              Volume 115, Issue 1
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/assets/docs/Fall-2007-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-fall2007.jpg">
              Fall 2007<br>
              Volume 114, Issue 2
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/assets/docs/Spring-2007-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-spring2007.jpg">
              Spring 2007<br>
              Volume 114, Issue 1
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/assets/docs/Fall-2006-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-fall2006.jpg">
              Fall 2006<br>
              Volume 113, Issue 2
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/assets/docs/Spring-2006-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-spring2006.jpg">
              Spring 2006<br>
              Volume 113, Issue 1
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <a href="/assets/docs/Fall-2005-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-fall2005.jpg">
              Fall 2005<br>
              Volume 112, Issue 2
            </a>
          </div>
          <div class="col-lg-6">
            <a href="/assets/docs/Spring-2005-Newsletter.pdf" target="_blank">
              <img src="/assets/img/update-spring2005.jpg">
              Spring 2005<br>
              Volume 112, Issue 1
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/js/jquery-2.1.4.min.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
</body>
