<footer>
  <p>The Andover Village Improvement Society</p>
  <p>P.O. Box 5097, Andover, MA 01810</p>
  <p><a href="mailto:president@avisandover.org">president@avisandover.org</a></p>
  <p class="fb">Follow AVIS
    <a href="https://www.facebook.com/AVISAndover/" target="_blank"><img src="/assets/img/Facebook_Logo_Primary.png" alt="Facebook" width="29" height="29"></a>
    <a href="https://www.instagram.com/avis_andover" target="_blank"><img src="/assets/img/Instagram_Glyph_Gradient.png" alt="Instagram" width="29" height="29"></a>
  </p>
</footer>
