#events {
  table {
    margin-bottom: 40px;
    background-color: #f9f9f9;
  }
  
  td {
    vertical-align: top;
  }
  
  @media (min-width: 768px) {
    td:nth-child(1) {
      min-width: 130px;
    }
    td:nth-child(2) {
      min-width: 150px;
    } 
  }
  
  .pipeline {
    font-size: 16px;
    font-weight: bold;
  }
}