#links {
  padding-bottom: 0px;
  
  hr {
    margin-bottom: 0px;
  }
  
  table {
    td {
      vertical-align: middle;
    }
    
    td:nth-child(1) {
      text-align: center;
      
      @media (max-width: 600px) {
        display: none;
      }
      
      img {
        max-width: 200px;
      }
    }
    
    td:nth-child(2) {
      text-align: center;
    }
  }
}