#links {
  padding-bottom: 0px;
  
  hr {
    margin-bottom: 0px;
  }
  
  table {
    td {
      vertical-align: middle;
    }
    
    td:nth-child(1) {
      text-align: center;
      height: 120px;
      img {
        max-height: 120px;
        max-width: 200px;
      }
    }
    
    td:nth-child(2) {
      text-align: center;
    }
  }
}