#reservations {
  $switchover-width: 768px;
  $sidebar-width: 180px;
  $link-color: rgba(255,255,255,0.9);
  $link-hover-color: white;
  
  #sidebar-toggler {
    display: none;
    
    &:checked {
      @media (max-width: $switchover-width) {
        ~ .sidebar {
          @include transform(translateX($sidebar-width));
        }
        
        ~ .toggle {
          @include transform(translateX($sidebar-width));
        }
        
        ~ .page-content {
          @include transform(translateX($sidebar-width));
        }
      }
    }
  }
  
  .toggle {
    font-size: 32px;
    position: fixed;
    left: 20px;
    top: 80px;
    z-index: 1;
    @include transition-property(transform);
    @include transition-duration(0.5s);
    
    @media (min-width: $switchover-width + 1) {
      display: none;
    }
    
    &:hover {
      color: yellowgreen;
    }
  }
  
  .sidebar {
    position: fixed;
    left: 0px;
    top: 50px;
    bottom: 0px;
    width: $sidebar-width;
    padding: 20px 10px;
    background-color: rgba(0,80,0,1);
    overflow-y: auto;
    @include transition(0.5s);
    
    @media (max-width: $switchover-width) {
      left: -$sidebar-width;
    }
    
    h4 > a {
      color: white;
    }
    
    a {
      color: $link-color;
      &:hover, &:active {
        color: $link-hover-color;
      }
    }
    
    li {
      color: $link-color;
    }
    
    .map {
      text-align: center;
      a, img { 
        width: 100%;
      }
    }
    
    h4 {
      margin-top: 20px;
      color: white;
    }
    
    hr {
      margin: 0px 0 10px;
      border-top-color: white;
    }
    
    ul {
      padding-left: 0px;
      list-style: none;
      
      li {
        font-style: italic;
        font-size: 13px;
        
        a {
          font-style: normal;
          font-size: 14px;
        }
      }
    }
  }
  
  .page-content {
    margin-left: $sidebar-width;
    padding: 20px 0;
    @include transition(0.5s);

    @media (max-width: $switchover-width) {
      margin-left: 50px;
    }
    
    > div {
      max-width: 900px;
      margin: 0 auto 10px;
      padding: 0 30px;
      @include clearfix;
    }
    
    h4 {
      margin-top: 25px;
    }
    
    .reservation-center {
      width: calc(100% - 250px);
      float: left;
      padding-right: 40px;
      
      @media (max-width: $switchover-width) {
        width: 100%;
        padding-right: 0px;
      }
      
      > figure {
        float: right;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 20px;
      }
      
      .figures {
        margin: 10px auto;
        text-align: center;
        
        figure {
          display: inline-block;
          margin: 10px;
        }
      }
    }
    
    .reservation-side {
      width: 250px;
      float: left;
      
      .map {
        text-align: center;
        margin-top: 20px;
        
        a, img {
          height: auto;
          max-width: 100%;
        }
      }
      
      @media (max-width: $switchover-width) {
        width: 100%;
      }
      
      h5 {
        margin-top: 20px;
      }
    }
    
    footer {
      float: left;
      width: 100%;
    }
  }
}
