{% include head.html %}

<body>
  
  {% include nav.html %}
  {{ content }}
  {% include footer.html %}
  
  <script src="/assets/js/jquery-2.1.4.min.js"></script>
  <script src="/assets/js/bootstrap.js"></script>

    <link href='/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
    <link href='/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='/fullcalendar/lib/moment.min.js'></script>
    <script src='/fullcalendar/lib/jquery.min.js'></script>
    <script src='/fullcalendar/fullcalendar.min.js'></script>
    <script>

  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,basicWeek,basicDay'
      },
    //   defaultDate: '2018-03-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'New Year Day Hike',
          start: "2019-01-01T10:00:00-05:00",
          url: "/events.html"
        },
        {
          title: '50th Rafton Hike',
          start: "2019-01-27T10:00:00-05:00",
          end: "2019-01-27T12:00:00-05:00",
          url: "/events.html"
        },
        {
          title: 'Nature’s Nation: American Art and Environment',
          start: "2019-02-02",
          end: "2019-05-05",
          url: "https://www.pem.org/exhibitions/natures-nation-american-art-and-environment",
          color: '#ff9f89'
        },
        {
          title: 'River in the Sky—Our Merrimack of Wintering Crows!',
          start: "2019-02-10T14:00:00-05:00",
          end: "2019-02-10T17:30:00-05:00",
          url: "/events.html"
        },
        {
          title: 'Goldsmith Moonlight Hike',
          start: "2019-02-10T18:00:00-05:00",
          end: "2019-02-10T20:00:00-05:00",
          url: "/events.html"
        },
        {
          title: 'History Exhibit',
          start: '2019-02-15',
          end: "2019-08-23",
          url: "http://andoverhistoryandculture.org/"
        },
        {
          title: 'Iconic AVIS Reservations',
          start: "2019-03-10T13:00:00-05:00",
          end: "2019-03-10T16:00:00-05:00",
          url: "/events.html"
        },
        {
          title: 'Annual Dinner',
          start: "2019-04-10T18:00:00-05:00",
          end: "2019-04-10T21:30:00-05:00",
          url: "/events.html"
        },
        {
          title: 'Deer Jump Trail',
          start: "2019-04-14T13:00:00-05:00",
          end: "2019-04-14T16:00:00-05:00",
          url: "/events.html"
        }
      ]
    });

  });

</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>

</body>