---
layout: default
---

<div class="page keck-botany">
  <h3>Keck Reservation: {{ page.category }}</h3>
  <hr>

  <p>Walter Kittredge, a botanist from Harvard, compiled a list of the plants present at the Keck Reservation<br>
  (You may email Walter at <a href="mailto:kittredg@oeb.harvard.edu">kittredg@oeb.harvard.edu</a>)</p>

  <p>He categorized the plants into:</p>
  <ul>
    <li><a href="/Keck-Ferns.html#keys">Ferns</a></li>
    <li><a href="/Keck-Graminoids.html#keys">Graminoids</a> (grasses, sedges, and rushes)</li>
    <li><a href="/Keck-Herbaceous.html#keys">Herbaceous</a> plant that isn't a graminoid</li>
    <li><a href="/Keck-Shrubs.html#keys">Shrubs</a></li>
    <li><a href="/Keck-Trees.html#keys">Trees</a></li>
    <li><a href="/Keck-Ferns.html#keys">Vines</a></li>
  </ul>

  <p>You may download a list of all categories with either of the following links</p>
  <a href="/assets/docs/KeckResPlantList.xls" class="btn btn-default">Microsoft Excel</a>
  <a href="/assets/docs/KeckResPlantList.pdf" class="btn btn-default">Adobe PDF</a>

  <h3 id="keys">Keys to Abbreviations</h3>
  <hr>
  <table class="table table-condensed abbrevs">
    <tbody>
      <tr>
        <td><h5>Wetlands Indicator Status (WIS)</h5></td>
        <td><h5>Native/Introducted (N/I)</h5></td>
      </tr>
      <tr>
        <td>OBL = Obligate wetland plant</td>
        <td>N = Native</td>
      </tr>
      <tr>
        <td>FAC = Facultative plant</td>
        <td>I = Introduced</td>
      </tr>
      <tr>
        <td>FACW = Facultative wetland plant</td>
        <td></td>
      </tr>
      <tr>
        <td>FACU = Facultative upland plant</td>
        <td></td>
      </tr>
      <tr>
        <td>UPL = Upland plant</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  {{ content }}
  
  <a href="/peggykeck.html">Back to Peggy Keck Reservation page</a>
</div>