{% include head.html %}

<body>
  
  {% include nav.html %}

  <div id="reservations">
    <input type="checkbox" id="sidebar-toggler">
    <label for="sidebar-toggler" class="toggle">☰</label>
    
    <div class="page-content">
      <div>
        {{ content }}
        {% include footer.html %}
      </div>
    </div>

    <div class="sidebar">
      <p class="map">
        <a href="https://andoverma.maps.arcgis.com/apps/webappviewer/index.html?id=e09aa89cf7a2437b8812542343816dfb" target="_blank">
          <img src="assets/img/AVISmap.gif">
          Interactive Map
        </a>
        (provided by Andover Trails)
      </p>
      <h4><a href="/reservations.html">Reservations</a></h4>
      <hr>
      <ul>
        <li><a href="/bakers.html">Baker's Meadow</a></li>
        <li><a href="/burns.html">Burns Reservation</a></li>
        <li><a href="/collins.html">Collins Reservation</a></li>
        <li><a href="/deer_jump.html">Deer Jump Reservation</a></li>
        <li>John Gardener Reservation</li>
        <li><a href="/goldsmith.html">Goldsmith Woodlands</a></li>
        <li><a href="/annrawlings.html">Ann Rawlins Greene Reservation</a></li>
        <li><a href="/hammond.html">Hammond Reservation</a></li>
        <li>Andover Highlands</li>
        <li><a href="/indianridge.html">Indian Ridge Reservation</a></li>
        <li><a href="/peggykeck.html">Peggy Keck Reservation</a></li>
        <li><a href="/lupine.html">Lupine Road Reservation</a></li>
        <li><a href="/purdon.html">Purdon Reservation</a></li>
        <li><a href="/rafton.html">Harold R. Rafton Reservation</a></li>
        <li><a href="/sakowich.html">Sakowich Reservation</a></li>
        <li><a href="/sanborn.html">Sanborn Reservation</a></li>
        <li><a href="/shawsheenriver.html">Shawsheen River Reservation</a></li>
        <li>Shawsheen Road Reservation</li>
        <li><a href="/sherman.html">Christopher and Lillian Sherman Reservation</a></li>
        <li><a href="/skug.html">Skug River Reservation</a></li>
        <li><a href="/natsmith.html">Nat Smith Reservation</a></li>
        <li><a href="/spalding.html">Spalding Reservation</a></li>
        <li><a href="/stanley.html">Stanley Reservation</a></li>
        <li><a href="/sunsetrock.html">Sunset Rock Reservation</a></li>
        <li><a href="/taft.html">Amy Gordon Taft Reservation</a></li>
        <li><a href="/turtle.html">Turtle Mound-Future Reservation</a></li>
        <li><a href="/vale.html">Vale Reservation</a></li>
        <li><a href="/westparish.html">West Parish Meadow</a></li>
        <li><a href="/wilkinson.html">Wilkinson Reservation</a></li>
      </ul>
    </div>
  </div>
  <script src="/assets/js/jquery-2.1.4.min.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
</body>
