{% include head.html %}

<body>

  {% include nav.html %}

  <div id="reservations">
    <input type="checkbox" id="sidebar-toggler">
    <label for="sidebar-toggler" class="toggle">☰</label>

    <div class="page-content">
      <div>
        {{ content }}
        {% include footer.html %}
      </div>
    </div>

    <div class="sidebar">
      <p class="map">
        <a href="https://andoverma.maps.arcgis.com/apps/webappviewer/index.html?id=e09aa89cf7a2437b8812542343816dfb"
          target="_blank">
          <img src="/assets/img/AVISmap.gif">
          Interactive Map<br>
        </a>
        (provided by Andover Trails)
      </p>
      <h4><a href="/reservations.html">Reservations</a></h4>
      <hr>
      <ul>
        <li><a>Andover Highlands</a></li>
        <li><a href="/bakers.html">Baker's Meadow</a></li>
        <li><a href="/behrakis.html">Behrakis</a></li>
        <li><a href="/richard.html">Richard J. Bonier</a></li>
        <li><a href="/burns.html">Burns</a></li>
        <li><a href="/collins.html">Collins </a></li>
        <li><a href="/deer_jump.html">Deer Jump </a></li>
        <li><a>John Gardener </a></li>
        <li><a href="/goldsmith.html">Goldsmith Woodlands</a></li>
        <li><a href="/annrawlings.html">Ann Rawlins Greene </a></li>
        <li><a href="/hammond.html">Hammond </a></li>
        <li><a href="/indianridge.html">Indian Ridge </a></li>
        <li><a href="/peggykeck.html">Peggy Keck</a></li>
        <li><a href="/lowell.html">Lowell & Lawrence Railraod</a></li>
        <li><a href="/lupine.html">Lupine Road</a></li>
        <li><a>North Main St. Land</a></li>
        <li><a href="/purdon.html">Purdon</a></li>
        <li><a href="/rafton.html">Harold R. Rafton</a></li>
        <li><a href="/sakowich.html">Sakowich</a></li>
        <li><a href="/sanborn.html">Sanborn</a></li>
        <li><a href="/shawsheenriver.html">Shawsheen River</a></li>
        <li><a href="/shawsheenroad.html">Shawsheen Road</a></li>
        <li><a href="/sherman.html">Christopher and Lillian Sherman</a></li>
        <li><a href="/skug.html">Skug River</a></li>
        <li><a href="/natsmith.html">Nat Smith</a></li>
        <li><a href="/spalding.html">Spalding</a></li>
        <li><a href="/stanley.html">Stanley</a></li>
        <li><a href="/sunsetrock.html">Sunset Rock</a></li>
        <li><a href="/taft.html">Amy Gordon Taft</a></li>
        <li><a href="/turtle.html">Turtle Mound-McCarthy</a></li>
        <li><a href="/vale.html">Vale</a></li>
        <li><a href="/westparish.html">West Parish Meadow</a></li>
        <li><a href="/wilkinson.html">Wilkinson</a></li>
      </ul>
    </div>
  </div>
  <script src="/assets/js/jquery-2.1.4.min.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script>
    $(document).ready(function () {
      $("div.sidebar ul a[href]").each(function () {
        if (this.href == window.location.href) {
          $(this).addClass("active");
        }
      });
    });
  </script>
</body>
